* {
   outline: 1px solid #def;
}


/* resets */

li {
   list-style: none;
}

img {
   max-width: 100%;
}


/* Ejemplo de Diseño Responsivo con Media Queries */

body {
   transition: background-color 0.6s ease-in-out;
}

@media screen and (min-width:0) {
   body {
      background-color: #fa0;
   }
}

@media screen and (min-width:768px) {
   body {
      background-color: #0af;
   }
}

@media screen and (min-width:992px) {
   body {
      background-color: #f0a;
   }
}

@media screen and (min-width:1200px) {
   body {
      background-color: #ffa;
   }
}







/* Clases de Tamaños: */

.wh-100 {
   /*w100%*/
   /*h100%*/
   width: 100%;
   height: 100%;
}
.w-100 {
   /*w100%*/
   width: 100%;
}
.h-100 {
   /*h100%*/
   height: 100%;
}

.h-a {
   height: auto;
}

.h-50-v {
   /*h50vh*/
   height: 50vh;
}

@media screen and (min-width: 992px) {

   .h-md-65-v {
      /*h65vh*/
      height: 65vh;
   }

}


.h-1x {
   /*h64*/
   height: 64px;
}
.h-2x {
   /*h64*/
   height: 128px;
}
.h-3x {
   /*h64*/
   height: 192px;
}
.h-4x {
   /*h64*/
   height: 256px;
}
.h-5x {
   /*h64*/
   height: 320px;
}



.rel {
   /*posr*/
   position: relative;
}

.abs {
   /*posa*/
   position: absolute;
}


.z-1 {
   /*z-1*/
   z-index: -1;
}
.z0 {
   /*z0*/
   z-index: 0;
}
.z1 {
   /*z1*/
   z-index: 1;
}


.p-0 {
   /*p0*/
   padding: 0;
}
.p-1 {
   /*p16*/
   padding: 16px;
}
.p-2 {
   /*p32*/
   padding: 32px;
}


.cortina {
   background-color: #fff;
   opacity: 0.7;
}
